body {
    color: #000;
    line-height: 1.8;
    letter-spacing: 0.1em;
}

.header-top-content {
    .slider-menu-item {
        position: relative;
    }
}



.header-middle-content {
    div {
        .container {
            .row {
                align-items: center;
                justify-content: space-between;

                .header-logo {
                    border: 1px solid black;
                    order: 1;
                    background: brown;
                    opacity: 80%;
                    padding: 20px;
                    box-sizing: border-box;

                    h1 {
                        text-align: center;

                        a {
                            img {
                                width: 11px;
                                height: 22px;
                            }
                        }
                    }

                }

                .nav {
                    flex-grow: 1;
                    flex-basis: 0;

                    nav {
                        ul {
                            display: flex;
                            justify-content: flex-end;

                            li {}
                        }
                    }
                }

                .header-banner {
                    ul {
                        display: flex;

                        li {
                            &:nth-child(1) {
                                position: relative;

                                .form-search {
                                    visibility: hidden;
                                    position: absolute;
                                }

                                .action-search {
                                    i {
                                        &:before {
                                            content: "x";
                                            height: 5px;
                                            width: 5px;
                                        }
                                    }
                                }
                            }

                            &:nth-child(2) {}
                        }
                    }
                }

            }
        }
    }
}

.main {
    .bg {
        div {
            .container {
                .row {
                    justify-content: flex-end;

                    div {
                        &:nth-child(1) {
                            .main-img {
                                position: relative;

                                .main-img-slide {
                                    ul {
                                        li {
                                            img {}
                                        }
                                    }
                                }

                                .main-img-logo {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 260px;
                                    height: 380px;
                                    background-color: #fff;

                                    a {
                                        img {
                                            width: 80px;
                                            height: 161px;
                                        }
                                    }
                                }

                                .main-copy {
                                    position: absolute;
                                    width: 290px;
                                    right: 12%;
                                    height: auto;
                                    bottom: -110px;

                                    a {
                                        img {}
                                    }
                                }
                            }

                            .pc {
                                nav {
                                    ul {
                                        display: flex;

                                        li {
                                            padding: 0 20px;
                                        }
                                    }
                                }
                            }
                        }

                        &:nth-child(2) {
                            .nav-sub-header {

                                a {
                                    background-color: brown;
                                    display: block;
                                    padding: 20px 0;

                                    span {}
                                }

                                p {
                                    display: inline;
                                    writing-mode: vertical-rl;
                                }
                            }
                        }

                    }
                }
            }
        }
    }

}

.content {
    position: relative;

    .bg {
        background-color: #f7f5f2;

        .content-inner-y {
            .container {
                .row {
                    padding-left: 50px;

                    div {

                        &:nth-child(1) {
                            .news-sec-ttl {
                                .sec-ttl {
                                    &:after {
                                        content: '+';
                                        display: block;
                                        width: 15px;
                                        height: 10px;
                                        font-size: 15px;
                                    }

                                    span {}
                                }
                            }
                        }

                        &:nth-child(2) {
                            .news-sec-time {
                                ul {
                                    li {
                                        span {
                                            font-family: 'Overpass', sans-serif;
                                            font-weight: 400;
                                            display: block;
                                            font-size: 14px;
                                        }

                                        a {
                                            font-family: 'Overpass', sans-serif;
                                            font-weight: 400;
                                            display: block;
                                            font-size: 14px;
                                        }
                                    }
                                }
                            }
                        }

                    }

                    .news-sec-search {
                        right: 10%;
                    }
                }
            }
        }

    }
}

.service {
    .content-inner-x {
        .row {
            div {
                &:nth-child(even) {
                    margin-left: auto;
                }

                box-sizing: border-box;
                padding: 10px;
                margin: 10px 0;

                .bg {
                    padding: 10px;
                    background-image: url('https://www.haru-shika.jp/wp/wp-content/themes/haru/images/menu-img01.jpg');
                    background-position: center center;
                    background-size: cover;

                    &:before {
                        display: block;
                        content: "";
                        padding-top: 75%;
                    }

                    .menu-sec-ttl {
                        margin: 0 auto;

                        p {
                            span {}

                            h1 {
                                span {}
                            }
                        }

                    }
                }

            }
        }
    }
}

.sec-employee {
    .bg {
        // border: 1px solid red;

        .container {
            .row {
                font-weight: 600;

                div {
                    &:nth-child(1) {
                        .director-text {
                            p {
                                font-size: 14px;
                                letter-spacing: 0.4em;
                            }
                        }

                    }

                    &:nth-child(2) {}
                }

                .news-sec-search {
                    @media screen and(max-width:768px) {
                        left: 10%;
                    }

                    @media screen and(min-width:768px) {
                        // width: 20%;
                        left: 41%;
                    }
                }
            }
        }
    }
}

.iformation {
    .bg {
        .content-inner-x {
            .container {
                .row {
                    div {

                        &:nth-child(1) {
                            color: red;

                            .sec-sub-ttl {
                                &:after {
                                    background-image: url('https://www.haru-shika.jp/wp/wp-content/themes/haru/common/images/icon-hour.svg');
                                }

                                span {}
                            }

                            .info-sec-phone {
                                .phone-number {
                                    span {
                                        display: block;
                                    }
                                }
                            }
                        }

                        &:nth-child(2) {
                            .open-time-table-wrapper {
                                .open-time-table {}

                                .open-table-text {
                                    p {}

                                    img {}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.blog {
    .bg {
        background-image: url('https://www.haru-shika.jp/wp/wp-content/themes/haru/images/blog-bg.jpg');
        background-size: cover;
        background-position: center center;

        &:after {
            content: '';
            display: block;
            height: 100%;
            padding-bottom: 20px;
        }

        .container {
            background: #fff;

            .content-inner-x {
                .row {
                    .news-sec-search {
                        transform: translate(0, 0);
                        // right: 5%;
                    }
                }
            }
        }
    }
}

#footer {

    color: #fff;

    .bg {
        background-color: #333;

        // position: relative;
        .footer-roof {
            position: relative;

            .footer-roof-text {
                position: absolute;
                background-color: #222;
                text-align: center;
                top: 0;
                transform: translate(-50%, -50%);
                left: 50%;
                width: 80%;

                h1 {
                    padding: 20px 0;

                    &:hover {
                        background-color: black;
                    }

                    img {
                        width: 30px;
                        height: 15px;
                    }

                    span {
                        display: block;
                        white-space: nowrap;
                    }
                }
            }
        }

        .footer-content {
            .content-inner-x {
                .container {
                    .row {
                        >div {

                            &:nth-child(1) {
                                .clinc-name {}

                                .clinc-address {
                                    p {}
                                }
                            }

                            &:nth-child(2) {
                                display: flex;
                                justify-content: space-around;
                                align-items: center;

                                .clinc-time {
                                    p {
                                        display: inline-block;
                                    }
                                }

                                .clinc-info {
                                    display: table-cell;
                                    vertical-align: middle;
                                    border: 1px solid #fff;
                                    padding: 30px 10px;

                                    &:hover {
                                        background-color: #fff;
                                        color: black;
                                    }

                                    span {}
                                }
                            }
                        }
                    }
                }
            }
        }

        .footer-bottom-list {
            .bg {
                background-color: #393939;

                .content-inner-y {
                    .container {
                        .row {
                            div {
                                ul {
                                    display: flex;
                                    justify-content: space-around;

                                    li {
                                        padding: 0 5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


//font
.eng {
    display: inline-block;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    margin-bottom: 12px;
    font-size: 12px;
}

.jpn {
    font-family: "Noto Serif Japanese", sans-serif;
    font-weight: 500;
    display: block;
    font-size: 26px;
    letter-spacing: 0.2em;
}


.blog-sec-ttl {

    // background-image: url('https://www.haru-shika.jp/wp/wp-content/themes/haru/common/images/icon-access.svg');
    // background-color: black;
    .sec-ttl {
        &:after {
            content: "+";
            display: block;
            margin-top: 15px;
            height: 5px;
            width: 5px;
        }
    }

    &:before {
        background-image: url('https://www.haru-shika.jp/wp/wp-content/themes/haru/common/images/icon-access.svg');
        background-color: black;
    }
}


.news-sec-search {
    @media screen and(min-width:768px) {
        width: 20%;
        top: 50%;
    }

    @media screen and(max-width:768px) {
        // top: 0;
    }

    position: absolute;
    // right: 20%;
    // top: 50%;
    transform: translate(0, -50%);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;

    p {


        a {}
    }
}

.link-box {
    top: 0;
    right: 9%;
}


@media(min-width:800px) {
    .open-time-table {
        th {
            padding: 8px 2px;
            border: 1px solid #dcdcdc;
            background-color: #ae9373;
            color: #fff;
            font-size: 14px;
            text-align: center;
        }
    }
}


@media(min-width:800px) {

    .open-table-circle {
        padding: 5px;
        width: 14px;
        height: 14px;
        vertical-align: middle;
    }

}

@media(min-width:800px) {
    .open-table-text img {
        width: 10px;
        height: 10px;
        vertical-align: middle;
    }
}